    html,
    body {
        height: 100%;
        background-color: #00BCD4;
        color: #FFFFFF;
    }
    
    #background {}
    
    .hours {
        text-align: right;
        font-size: 2em;
        padding: 20px 40px;
    }
    
    .logo {
        padding: 20px 40px;
    }
    
    .titles {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        color: #EFEFEF;
        font-weight: 300;
        padding: 20px 0px;
    }
    
    .circle-persona {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        
        background-size: 160px;
        display: block;
        border: 4px solid #FFFFFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
        z-index: 9999;
    }
    .valentin {
        background-image: url(https://cdn5.f-cdn.com/ppic/11626023/logo/13334637/Wz5KE/profile_logo_.png);
    }
    .laurent{
         background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAdqAAAAJDRmZGU3ZDBhLTNhNTYtNGUyZS04NjgzLWY1MjVhMDUwYWViNg.jpg)
    }
    .mathias{
         background-image: url(http://www.mathiasbiard.com/images/me.jpg)
    }
    .martine{
        background-image: url(https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAcTAAAAJDY1YjkzYjc1LWZjMTYtNDdkOC05MjQwLTY1MzYwYzczZDY3OA.jpg)
    }
    .thomas{
        background-image: url(https://mir-s3-cdn-cf.behance.net/user/138/1993643.53b7242407703.png)
    }
    .kevin{
        background-image: url(https://media.licdn.com/media/p/4/000/17d/31c/159f591.jpg)
    }
    #header {
        background: rgba(0, 112, 127, 0.15);
    }
    .verticard {
        background: #FFFFFF;
        height: 110px;
        top: 25px;
        left: -30px;
        border-radius: 8px;
        color: #000000;
        font-size: 24px;
        padding-left: 50px;
        padding-top: 25px;
    }
    
    .slider-content {
        padding-top: 40px;
    }
    
    .tile {
        background-image: url(images/subtle-pattern.png);
        background-repeat: no-repeat;
    }
    
    .job {
        color: #B7BBC0;
        font-size: 14px;
    }
    
    .active-coworker {
        font-size: 14px;
        padding-top: 40px;
    }
    
    #coworker-number {
        display: inline-block;
    }
    
    .separator {
        background-color: #FFFFFF;
    }
    
    .circle-coworker {
        width: 80px;
        height: 80px;
        float: left;
        border-radius: 40px;
        background-image: url(http://www.mathiasbiard.com/images/me.jpg);
        background-size: 80px;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.50);
        margin-right: 20px;
    }
    
    .job-name {
        color: #FFFFFF;
    }
    
    .active-coworker-name {
        padding-top: 20px;
    }
    
    .active-coworker-job {
        font-size: 14px;
        font-weight: 100;
    }
    
    .coworker-checkedin {
        font-size: 14px;
        text-align: right;
        padding-top: 20px;
    }